<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta="format-detection" content="telephone=no">
			<meta nnameame="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<meta name="format-detection" content="telephone=no">
			<title>about</title>
			<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/css/reset.css" />
			<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/lb/css/bootstrap.css" />
			<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/css/index.css" />
	</head>

	<body style="background: white;">
		<header class="clearfix">
			<div class="fl left">
				<a href="__APP__/MeSet.html"> <span class="glyphicon glyphicon-menu-left"></span></a>
			</div>
			<div class="fl center">
				关于我们
			</div>
			<div class="fr right" id="bainji1">
			</div>
		</header>
		<div type="text/css" style="height: 5rem;"></div>
		<div class="about">
			<ul>
				<li>
					<a href="tel://1008611" class="clearfix">
						<div class="fl left">
							<span><img src="__ROOT__/public/home/img/about1.png"/></span>
						</div>
						<div class="fl center">
							联系电话
						</div>
						<div class="fr right">
							8888888
						</div>

					</a>
				</li>
				<li>
					<a href="mailto:www.baidu.com" class="clearfix">
						<div class="fl left">
							<span style=" margin-top: 1.3rem;"><img src="__ROOT__/public/home/img/about2.png"/></span>
						</div>
						<div class="fl center">
							邮箱
						</div>
						<div class="fr right">
							123456789@163.com
						</div>
					</a>
				</li>
				<li>
					<a class="clearfix">
						<div class="fl left">
							<span style=" margin-top: 1.3rem;"><img src="__ROOT__/public/home/img/about3.png"/></span>
						</div>
						<div class="fl center">
							官方网站
						</div>
						<div class="fr right">
							www.baidu.com
						</div>
					</a>
				</li>
			</ul>
		</div>
	</body>
	<script src="__ROOT__/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

</html>