<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <directoryBrowse enabled="false" />  
        <rewrite>  
            <rules>  
                  <rule name="OrgPage" stopProcessing="true">  
                    <match url="^(.*)$" />  
                    <conditions logicalGrouping="MatchAll">  
                      <add input="{HTTP_HOST}" pattern="^(.*)$" />  
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />  
                    </conditions>  
                     <action type="Rewrite" url="index.php/{R:1}" />  
                    </rule>  
            </rules>  
        </rewrite>
        <handlers>
            <add name="5.6" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php56n\php-cgi.exe" resourceType="Unspecified" />
            <add name="php53" path="*.php" verb="GET,HEAD,POST,DEBUG" modules="FastCgiModule" scriptProcessor="c:\php53\php-cgi.exe" />
        </handlers>  
    </system.webServer>
</configuration>
