 <div class="footernr"> 
      <p class="footerNav">
       <a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/1">学校简介</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/2">专业介绍</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Tuwenlist/index/id/3">学员风采</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Twlb/index/id/4">师资力量</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Twlb/index/id/5">金榜题名</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Newslist/index/id/6">艺源新闻</a><em>|</em>
       <a href="http://www.tyyiyuanart.com__APP__/Tuwenlist/index/id/7">学校环境</a><em>|</em> 
       <a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/8">联系我们</a>
      </p>
      <p class="dblx">太原市小店区艺源艺术培训学校&nbsp;&nbsp;版权所有 . 晋ICP备15003895号&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.tygytc.com" target="_blank">太原国远天成网络科技有限公司</a></p>
    </div>