
  <div class="header">
    <div class="head clearfix">
      <div class="logo">
      <a href="http://www.tyyiyuanart.com/">
       <img src="http://www.tyyiyuanart.com/public/images/logo.png"  width="100%"/>
      </a>
    </div>
      <div class="nav clearfix">
      <ul>
       <li><a href="http://www.tyyiyuanart.com/"><span>网站首页</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/1"><span>学校简介</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/2"><span>专业介绍</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Tuwenlist/index/id/3"><span>学员风采</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Twlb/index/id/4"><span>师资力量</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Twlb/index/id/5"><span>金榜题名</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Newslist/index/id/6"><span>艺源新闻</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Tuwenlist/index/id/7"><span>学校环境</span></a></li>
       <li><a href="http://www.tyyiyuanart.com__APP__/Danye/index/id/8"><span>联系我们</span></a></li>
      </ul>
    </div>
    </div>
  </div>

<!--banner图 s-->
 <div style="margin:100px auto;width:500px; text-align:center; margin-bottom:10px;">
  <img src="http://www.tyyiyuanart.com/public/images/404.png">
 <a href="http://www.tyyiyuanart.com/" style=" display:inline-block; background:rgb(140, 37, 31); padding:10px 20px; font-size:16px; color:#fff; border-radius:5px; margin-top:20px; margin-bottom:40px;">返回首页</a>
</div>