<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>TOPIC</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/lb/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/home/css/index.css" />
	</head>
	<body style="background: white;">
		<header class="clearfix">
			<div class="fl left">
				<a href="__APP__/Tk.html"> <span class="glyphicon glyphicon-menu-left"></span></a>
			</div>
			<div class="fl center">
				历年真题
			</div>
			<div class="fr right"></div>
		</header>
		<div type="text/css" style="height: 5rem;"></div>
		<div class="topic clearfix">
			<div class="fl">
				<a href="__APP__/TkTopCont.html">
					<h3>口腔执业助理医师</h3>
					<h4>~~口腔执业助理医师真题···</h4>
					<span>7519人在学习</span>
				</a>
			</div>
			<div class="fl">
				<a href="javascript:;">
					<h3>口腔执业助理医师</h3>
					<h4>~~口腔执业助理医师真题···</h4>
					<span>7519人在学习</span>
				</a>
			</div>
			<div class="fl">
				<a href="javascript:;">
					<h3>口腔执业助理医师</h3>
					<h4>~~口腔执业助理医师真题···</h4>
					<span>7519人在学习</span>
				</a>
			</div>
			<div class="fl">
				<a href="javascript:;">
					<h3>口腔执业助理医师</h3>
					<h4>~~口腔执业助理医师真题···</h4>
					<span>7519人在学习</span>
				</a>
			</div>
		</div>
	</body>
	<script src="__ROOT__/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/home/js/cycle.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/home/js/raphael.js" type="text/javascript" charset="utf-8"></script>

</html>