<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{$lanmuNow.title}_恒达钢结构</title>
		<!-- <meta name="Keywords" content="山西恒达钢结构有限公司">
		<meta name="Description" content="山西恒达钢结构有限公司"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="__ROOT__/public/home/css/pintuer.css">
		<script src="__ROOT__/public/home/js/jquery.js"></script>
		<script src="__ROOT__/public/home/js/pintuer.js"></script>
		<script src="__ROOT__/public/home/js/index.js"></script>
		<script type="text/javascript" src="__ROOT__/public/home/js/jquery.SuperSlide2.js"></script>
		<link rel="stylesheet" href="__ROOT__/public/home/css/css.css">
		<link rel="stylesheet" href="__ROOT__/public/home/css/index.css">
		<link rel="stylesheet" href="__ROOT__/public/home/css/style.css">
		<script src="__ROOT__/public/home/js/respond.js"></script>
	</head>

	<body>
<!-- 公共头部包含 -->
  <include file="Public/header" />
<!-- 公共头部包含end -->
		<!-- banner -->
		<include file="Public/Banner" />
		
		<div class="ny container clearfix">
			<include file="Public/left_menu" />
			<div class="right-menu">
				<include file="Public/Location" />
				<!-- 产品图文列表 if判断-->
				<!--<div class="product_list clearfix">
					<div class="xl6 xs6 xm4 xb3 ">-->
				<if condition="$PID eq 5">
					<div class="product_list clearfix">
				<else/>		
					<!-- 其他图文列表 else-->
					<div class="pic_list clearfix">
				</if>	
					<volist name="pageData.news" id="picture">
					<if condition="$PID eq 5">
						<div class="xl6 xs6 xm4 xb3 ">
					<else/>
						<div class="xl6 xs6 xm4 xb4 ">
					</if>		
							<div class="media position_rel clearfix">
								<a href="__APP__/PictureShow_{$picture.id}.html">
									<div class="img"><img src="__ROOT__/{$picture.imageurl}" class="radius img-responsive"></div>
									<div class="media-body">
										<strong>{$picture.title|msubstr=0,15}</strong>
									</div>
									<div class="info-mask"></div>
								</a>
							</div>
						</div>
					</volist>
					
				</div>

				<!-- 分页 -->
				<include file="Public/Fenye" />

			</div>
		</div>

		<!-- 底部 s-->
<!-- 底部 s-->
		<include file="Public/footer" />

	</body>
	<script src="__ROOT__/public/home/js/lpk.js" type="text/javascript" charset="utf-8"></script>

</html>