
<div class="foot">
	<dl class="inner clearfix">
		<dd class="foot-lbox">
			<div class="dblogo">
				<img src="__ROOT__/public/home/images/dblogo.png" />
			</div>
				{$dibu.content}
			<!-- <ul class="footInfo clearfix">
				<p style="color: #fff;font-size:26px;font-weight: bold;margin-bottom: 10px;">山西恒达钢结构有限公司</p>
				<p style="font-size:17px;font-family: Arial;color: #fff;margin-bottom: 5px;"> SHANXI HENDA STEEL STRUCTURE co.,LTD</p>
				<p>服务热线：0354-5322688 / 5322699</p>
				<p>公司传真：0354-5322688</p>
				<p>电子邮箱：sxqxhdcg@126.com</p>
				<p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：山西省晋中市祁县经济开发区晋商大道18 号（乔家大院北2公里）</p>
			</ul> -->
		</dd>
		<dd class="foot-rbox">
			<div class="clearfix">
				<div class="ewm">
					<img src="__ROOT__/public/home/images/ewm.jpg">
					<p>网站二维码</p>
				</div>
				<div class="ewm">
					<img src="__ROOT__/public/home/images/erweima.jpg">
					<p>微信公众平台</p>
				</div>
			</div>
		</dd>
	</dl>
	<div class="inner footBcon clearfix">
		© 2015山西恒达钢结构有限公司 版权所有 晋ICP备16002806号-1
		<div style="float: right;">
			技术支持：
			<a href="http://www.tygytc.com" target="_blank">太原国远天成网络科技有限公司</a>&nbsp;&nbsp;&nbsp;
			<a href="http://www.vv18634265538.com/" target="_blank">祁县巍巍科技提供技术支持</a>
		</div>
	</div>
</div>
<!-- 底部 e-->

<div id="izl_rmenu" class="izl-rmenu">
	<div class="btn btn-phone">
		<div class="phone">手机：<br>18649343777<br>办公室：<br>0354-5322688</div>
	</div>
	<div class="btn btn-wx">
		<img class="pic" src="__ROOT__/public/home/images/erweima.jpg">
	</div>
	<div class="btn btn-sj">
		<img class="pic" src="__ROOT__/public/home/images/ewm.jpg">
	</div>
	<a href="tencent://Message/?Uin=2976114968&amp;websiteName=www.sxtianjian.com=&amp;Menu=yes" class="btn btn-qq"></a>
	<div class="btn btn-top"></div>
</div>
