<div class="head">
    <div class="language">
        <div class="container clearfix">
            <span class="hy">欢迎来到山西恒达钢结构有限公司官网</span>
            <span class="tell">品质源于专业&nbsp;&nbsp;&nbsp;专业造就品牌</span>
        </div>
    </div>

    <div class="top">
        <div class="logo">
            <a href="__APP__">
                <img src="__ROOT__/public/home/images/logo.png">
            </a>
        </div>
        <div class="zi1">
            <p><span>恒</span>远久长&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>达</span>诚申信</p>
        </div>
        <div class="tel clearfix">
            <img src="__ROOT__/public/home/images/telltop.jpg">
            <p><b>全国服务热线：</b><span>18649343777<br/>18404986666</span></p><br/>
            <p></p>
        </div>
    </div>
</div>

<div class="navigation">
    <div class="container" style="width:1300px;">
        <ul class="nav nav-menu nav-inline nav-split nav-justified nav-navicon" id="nav-link5">
            <li class="active">
                <a href="__APP__">首页<span class="ywdh">HOME</span></a>
            </li>
            <li>
                <a href="__APP__/Danye_2.html">关于恒达<span class="ywdh">ABOUT US</span>
                    <!-- <span class="arrow"></span> --></a>
                <ul class="drop-menu">
                    <volist name="gyhb" id="gyhb">
                        <li>
                            <a href="__APP__/{$gyhb.controller}_{$gyhb.id}.html">{$gyhb.title}</a>
                        </li>
                    </volist>
                </ul>
            </li>
            <li class="nav-more">
                <a href="__APP__/PictureList_5.html">恒达产品<span class="ywdh">PRODUCTS</span>
                    <!-- <span class="arrow"></span> --></a>
                <ul class="drop-menu">
                     <volist name="chanpin_lanmu" id="chanpin_lanmu">
                        <li>
                            <a href="__APP__/{$chanpin_lanmu.controller}_{$chanpin_lanmu.id}.html">{$chanpin_lanmu.title}</a>
                        </li>
                    </volist>
                </ul>
            </li>
            <li>
                <a href="__APP__/PictureList_13.html">荣誉资质<span class="ywdh">HONOR</span>
                    <!-- <span class="arrow"></span> --></a>
                <ul class="drop-menu">
                    
                    <volist name="ryzz" id="ryzz">
                        <li>
                            <a href="__APP__/{$ryzz.controller}_{$ryzz.id}.html">{$ryzz.title}</a>
                        </li>
                    </volist>
                    
                </ul>
            </li>
            <li>
                <a href="__APP__/PictureList_16.html">工程案例<span class="ywdh">PROJECT CASES</span></a>
            </li>
            <li>
                <a href="__APP__/Danye_17.html">招贤纳才<span class="ywdh">RECRUITMENT</span></a>
            </li>
            <li>
                <a href="__APP__/NewList_18.html">新闻资讯<span class="ywdh">NEWS CENTER</span>
                    <!-- <span class="arrow"></span> --></a>
                <ul class="drop-menu">
                    <volist name="xwzx" id="xwzx">
                        <li>
                            <a href="__APP__/{$xwzx.controller}_{$xwzx.id}.html">{$xwzx.title}</a>
                        </li>
                    </volist>
                </ul>
            </li>
            <li>
                <a href="__APP__/Danye_22.html">联系我们<span class="ywdh">CONTACT US</span></a>
            </li>
        </ul>
    </div>
</div>