<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{$lanmuNow.title}_{$title}</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/style.css" />
		<link href="__ROOT__/public/phone/lb/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/reset.css" />
	</head>

	<body>
		<div id="warmp" class="warmp">
			<!--头部 s-->
			    <include file="Public/header" />
			<!--头部 e-->

			<div class="" style="text-align: center;font-size: 1.6rem;font-weight: bold;line-height: 4rem;">
				{$lanmuNow.title}
			</div>
			
			<div class="news" style="margin: 0rem 0 2rem;" id="wrapper">
				<div class="news_main prolist">
					

					<!-- <div class="clearfix">
						<a href="newsinfo.html">
							<div class="fl">
								<img src="img/new1.png">
							</div>
							<div class="fr">
								<div class="top">
									<div class="title">
										标题标题
									</div>
									<div class="time">
										2018-05-06
									</div>
								</div>
								<div class="bottom">
									正文正文正文正文
								</div>
							</div>
						</a>
					</div> -->


				</div>
			</div>
		</div>
		<!--footer-->
		<include file="Public/footer" />
		<!--footer end-->
		
	</body>
	<script src="__ROOT__/public/phone/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/phone/js/TouchSlide.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/phone/lb/js/bootstrap.min.js"></script>
	<script src="__ROOT__/public/phone/js/foot.js" type="text/javascript" charset="utf-8"></script>
    <script src="__ROOT__/public/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function tijiao(){
	var name=$('#name').val();
	var phone=$('#phone').val();
	var phones=/^1(3|4|5|7|8)\d{9}$/;
	if(name==''){
	    layer.msg("请填写您的真实姓名！");
	}else if(phone==''){
	    layer.msg("请填写您的联系电话！");
	}else if(!(phones.test(phone))){
	    layer.msg("请填写正确的手机格式！");
	}else{
		$.ajax({
	        url:"__APP__/Danye/yu_yue",
	        data:{name:name,phone:phone},
	        type:"post",
	        // dataType:'json',
	        success:function(data){
	           if(data=="ok"){
				layer.msg('预约成功!',{icon: 6,time:1000});
	           }else if(data=="kong"){
	             layer.msg("请填写完整信息！",{icon: 5,time:1000});
	           }else if(data=="you"){
	             layer.msg("您已经预约过了！",{icon: 6,time:1000});
	           }else if(data=="error"){
	             layer.msg("请刷新页面后重新操作！",{icon: 5,time:1000});
	           }
	        }
	    })
	}
}
</script>
<script>
      var page=1;  
      var finished=0;  
      var sover=0;  
      <!----------------产品加载更多-------------------------->  
      //如果屏幕未到整屏自动加载下一页补满  
      var setdefult=setInterval(function (){  
          if(sover==1)  
              clearInterval(setdefult);     
          else if($(".prolist").height()<$(window).height()/2)  
              loadmore($(window));  
          else  
              clearInterval(setdefult);  
      },50);  
      //加载完  
      function loadover(){  
          if(sover==1)  
          {     
              var overtext="Duang～到底了";  
              $(".loadmore").remove();  
              if($(".loadover").length>0)  
              {  
                  $(".loadover span").eq(0).html(overtext);  
              }  
              else  
              {  
                  var txt='<div class="loadover"><span>'+overtext+'</span></div>'  
                  $("#wrapper").append(txt);  
              }  
          }  
      }  
      //加载更多  
      var vid=0;  
      var paginalNum =5;
      var ID="{$id}";
      // alert(ID);
      function loadmore(obj){  
          if(finished==0 && sover==0)  
          {  
              var scrollTop = $(obj).scrollTop();  
              var scrollHeight = $(document).height();  
              var windowHeight = $(obj).height();  
              if($(".loadmore").length==0)  
              {  
                  var txt='<div class="loadmore"><span class="loading"></span>加载中..</div>'  
                  $("#wrapper").append(txt);  
              }  
              if (scrollTop + windowHeight -scrollHeight<=50 ) {  
                  //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作  
                  //防止未加载完再次执行  
                  finished=1;  
                  var result = "";  
                  
                  $.ajax({
                    url:'__APP__/GetDataNew/index',
                    data:{id:ID,page:page,paginalNum:paginalNum},
                    type:'post',
                    dataType:'json',
                    success:function(data){ 
                      console.log(data);
                     if(data.length>0){
                        //防止未加载完再次执行  
                        for(var i = 0; i < data.length; i++){  
                            vid++;  
                        
                   result+= 
                   		
		                     
		                '<div class="clearfix"><a href="__APP__/NewShow_' + data[i].newid + '"><div class="fl"><img src="__ROOT__/' + data[i].imageurl +'"></div><div class="fr"><div class="top"><div class="title">' + data[i].title + '</div><div class="time">' + data[i].dateandtime +'</div></div><div class="bottom">'+ data[i].content.substring(0,25) + '</div></div></a></div>' 
		               
                        }  
                          $('.prolist').append(result);  
                            page+=1; 
                            finished=0; 
                     }else{
                        sover=1;  
                        loadover();
                     }
                   }
                })  
              }  
          }  
      }  
      //页面滚动执行事件  
      $(window).scroll(function (){  
          loadmore($(this));  
      });  
    </script> 
 
</html>