<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{$webInfo.title}</title>
		<!-- <meta name="Keywords" content="山西天波制泵股份有限公司">
		<meta name="Description" content="山西天波制泵股份有限公司"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="__ROOT__/public/home/css/pintuer.css">
		<script src="__ROOT__/public/home/js/jquery.js"></script>
		<script src="__ROOT__/public/home/js/pintuer.js"></script>
		<script src="__ROOT__/public/home/js/index.js"></script>
		<script type="text/javascript" src="__ROOT__/public/home/js/jquery.SuperSlide2.js"></script>
		<link rel="stylesheet" href="__ROOT__/public/home/css/css.css">
		<link rel="stylesheet" href="__ROOT__/public/home/css/index.css">
		<link rel="stylesheet" href="__ROOT__/public/home/css/style.css">
		<script src="__ROOT__/public/home/js/respond.js"></script>
		
	</head>

	<body>
		<!-- 公共头部包含 -->
  <include file="Public/header" />
<!-- 公共头部包含end -->
		<!-- banner -->
		<include file="Public/Banner" />
		<!-- 热门搜索 -->
		<!--<div class="search">
			<div class="container">
				<p>
					<b>热搜产品：</b>
					<a href="#">专业预制金属板系统</a>|
					<a href="#">焊接钢结构系统</a>|
					<a href="#">箱型柱与钢构产品</a>|
					<a href="#">螺栓球网架结构</a>|
					<a href="#">净化板系统</a>
				</p>
			</div>
		</div>-->
		<div class="nyxq" style="    border-top: 1px solid #e7e7e7;">
			<div class="container">
				<div class="div_404">
					<img src="__ROOT__/public/home/images/404.png">
					<a href="index.html" class="back_btn">返回首页</a>
				</div>
			</div>
		</div>

<!-- 底部 s-->
		<include file="Public/footer" />
	</body>
	<script src="__ROOT__/public/home/js/lpk.js" type="text/javascript" charset="utf-8"></script>

</html>