<footer class="clearfix" style="background: white;">
      <div class="fl">
        <a href="tk.html">
          <span class="tubiao"><img src="__ROOT__/public/home/img/foot1.png"/></span>
          <span class="zi">题库</span>
        </a>
      </div>
      <div class="fl">
        <a href="index.html">
          <span class="tubiao"><img src="__ROOT__/public/home/img/foot2.png"/></span>
          <span class="zi">课程</span>
        </a>
      </div>
      <div class="fl">
        <a href="">
          <span class="tubiao"><img src="__ROOT__/public/home/img/foot3.png"/></span>
          <span class="zi">咨询 </span>
        </a>
      </div>
      <div class="fl">
        <a href="{:U('Me/index')}">
          <span class="tubiao"><img src="__ROOT__/public/home/img/foot4-4.png"/></span>
          <span class="zi" style="color: #3399fe;">我的</span>
        </a>
      </div>
</footer>
<!-- <footer class="clearfix" style="background: white;">
    <div class="fl">
      <a href="{:U('Me/index')}">
        <span class="tubiao"><img src="__ROOT__/public/home/img/foot1.png"/></span>
        <span class="zi">题库</span>
      </a>
    </div>
    <div class="fl">
      <a href="{:U('index/index')}">
        <span class="tubiao"><img src="__ROOT__/public/home/img/foot2.png"/></span>
        <span class="zi">课程</span>
      </a>
    </div>
    <div class="fl">
      <a href="{:U('Me/index')}">
        <span class="tubiao"><img src="__ROOT__/public/home/img/foot3.png"/></span>
        <span class="zi">咨询 </span>
      </a>
    </div>
    <div class="fl">
      <a href="{:U('Me/index')}">
        <span class="tubiao"><img src="__ROOT__/public/home/img/foot4-4.png"/></span>
        <span class="zi" style="color: #3399fe;">我的</span>
      </a>
    </div>
  </footer> -->