<div class="lpk_btn">
	<span class="glyphicon glyphicon-align-right"></span>
</div>
<div class="child_bg"></div>
<div class="nav">
	<div class="nav_main">
		<ul>
			<li>
				<a href="__APP__">首页</a>
				<ul></ul>
			</li>
			<li>
				<a href="javascript:;">走进中医院</a>
				<ul>
					<volist name="zjzy" id="zjzy">
                        <li>
                        	<a href="__APP__/{$zjzy.controller}_{$zjzy.id}.html">{$zjzy.title}</a>
                        </li>
                    </volist>
				</ul>
			</li>
			<li>
				<a href="__APP__/Danye_4.html">科室设置</a>
				<ul></ul>
			</li>
			<li>
				<a href="javascript:;">专家团队</a>
				<ul>
					<volist name="zjtd" id="zjtd">
	                    <li>
	                    	<a href="__APP__/{$zjtd.controller}_{$zjtd.id}.html">{$zjtd.title}</a>
	                    </li>
	                </volist>
				</ul>
			</li>
			<li>
				<a href="__APP__/Danye_9.html">就医服务</a>
				<ul></ul>
			</li>
			<li>
				<a href="javascript:;">健康同行</a>
				<ul>
					<volist name="jktx" id="jktx">
	                    <li>
	                    	<a href="__APP__/{$jktx.controller}_{$jktx.id}.html">{$jktx.title}</a>
	                    </li>
	                </volist>
				</ul>
			</li>
			<li>
				<a href="__APP__/Danye_11.html">联系我们</a>
				<ul></ul>
			</li>
		</ul>
	</div>
</div>
<div class="lpkhead">
	<div class="logo">
		<img src="__ROOT__/public/phone/img/logo.png" />
	</div>
	<div class="zi">
		<img src="__ROOT__/public/phone/img/logo1.png" />
	</div>
</div>