@charset "utf-8";
/* CSS Document */
.col-main{padding-top:10px ;}


/*订单*/
.m-order{ overflow:hidden; margin-bottom:15px;margin-top: 15px;background:#fff;}
.m-order li{ float:left; width:20%; color: #4B4B4B; text-align: center;}
.m-order li a{ padding: 10px 0px;vertical-align: middle;display: block;color: #4B4B4B;text-align: center;}
.m-order li a i img{width:30px ;height: 30px;margin: auto;}
.m-order li a span{height: 18px; line-height: 18px; display: block;}
.m-order li em {color:#F40;margin-left:5px ;}

.m-order .i-load-more-item-shadow {background: none;color: #666;}
.s-bar { font-size:15px; position: relative;padding: 11px 0px 8px;margin:0px 10px ;}
.i-load-more-item-shadow {position: absolute;right:0px;top: 10px;height: 20px; background: #FFF none repeat scroll 0% 0%;font-size: 14px;line-height: 20px; color: #4B4B4B;}
.m-order .orderContentBox{display: none;}

/*第二套九宫格*/
.user-squaredIcon ul li{text-align: center;margin:10px 0px ;}
.user-squaredIcon ul li i{padding:10px 0px ;color: #F03726;}

/*意见建议*/
.user-suggestion{margin-bottom: 10px;}
.s-bar:last-child{border-bottom: none;}
/*导航*/
.navCir{position: fixed;bottom:0px ;width: 100%;z-index: 999;background:#fff ;}
.navCir li{width: 25%;padding:5px ;background:#fff ;border-top:1px solid #f5f5f5 ;float: left;text-align: center;font-size: 14px;}
.navCir li i{display: block;font-size: 18px;}
.navCir li.active a{color:#F03726 ;}

.footer{margin-bottom:60px ;}
@media only screen and (min-width:640px) 
{
/*布局*/
.m-user {background:none}
.col-main{padding-top:10px ;}
.user-patternIcon,.user-squaredIcon,.user-suggestion{ display:none;}
.s-prestige.am-btn.am-round{border-radius:0 0 ;background: none;border:none ;color: #fff;padding:0px ;}
.m-new {position:static;}	
.m-right{position: absolute;right:20px;top: 25px;width:20% ;height:55px;border-left:1px solid #ccc;padding-left:10px ;}
.m-right a{color: #fff;}



/*优惠券、积分商城*/
.twoTab{display: block;width: 100%;height:210px;}
.twoTab .twoTabModel{width:50%;background: #fff;float: left;height:100%;position: relative;border:1px solid transparent ;}
.twoTabModel:last-child{border-left: 1px solid #e7e7e7;}
.twoTabModel .squareTitle {width: 100%;height: 42px;line-height: 42px;margin-bottom:10px ;}
.squareTitle a{height: 100%;display: block;position: relative;padding-left: 25px;font-weight: 600;font-size: 16px;}
.squareTitle a .splitBorder{display: block;position: absolute;width: 3px;height: 16px;background-color: #ed6c44;left: 10px;top: 12px;}
.squareTitle a i {position: absolute;right: 16px;}

.twoTabModel .Box{width:90%;margin:0px auto}
.Box .CouponList{width:225px;height:130px;margin:0px auto;background:url(../images/coupon-bg.png);position: relative; }
.Box .CouponList .price {position: absolute;font-size: 18px;font-weight:600;font-family: "Microsoft Yahei";color: #fd6d37;left: 17px;top: 35px;}
.price strong {position: absolute;top: -7px;left:15px;font-size: 32px;}
.Box .CouponList .brandName {position: absolute;top: 30px;left: 103px;width: 109px;height: 14px;white-space: nowrap;overflow: hidden;}
.Box .CouponList p a{font-size:12px;}
.Box .CouponList .discount {position: absolute;left: 103px;top: 50px;color: #e78560;}
.Box .CouponList .btnReceive {position: absolute;width: 90px;height: 30px;line-height: 30px;text-align: center;display: block;background-color: #fd6d37;color: #fff;border-radius: 2px;left: 104px;top: 80px;}
/*积分多图轮播*/
.countDown {position: absolute;left:20px;top:42px;z-index: 9;}
.countDown span{background-color: #fff;color: #fe5a57;border: #e1e1e1 1px solid;padding:3px ;}
.countDown .txtStart {margin-left: 5px;color: #999;}
.Box ul.am-slides{height: 126px;padding:16px 10px ;}
.am-slider-default{box-shadow: none;margin-top:15px ;}
.am-slider-default .am-direction-nav .am-prev {left: -10px;}
.am-slider-default .am-direction-nav .am-next {right: -10px;}

/*收藏足迹*/
.collection{display: block;margin:15px 0px ;background: #fff;}
.collection .am-tabs-bd{max-width:980px;margin:0px auto ;}
.collection ul.am-slides{height: 126px;padding:0px 15px ;}
.collection li {text-align: center;}
.collection li img{margin-bottom:10px ;border: none;width: 100px !important;}
.am-tabs .am-tabs-nav{height:40px ;padding-top:10px ;line-height:26px;}
.am-tabs .am-tabs-nav,.am-tabs .am-tabs-nav > .am-active {background-color: #fff;border: none;}
.am-tabs .am-tabs-nav li a {display: block;width:60px;margin:0px  auto;position: relative;overflow: visible;}
.am-tabs .am-tabs-nav li a i{position: absolute;right:110%;color:#fd6d37;line-height:24px ;}
.am-tabs .am-tabs-nav > .am-active a {color: #000;border-bottom:2px solid #fd6d37;}
.footer{margin-bottom:0px ;}
}

@media only screen and (min-width:769px) 
{
.m-userproperty {position: absolute; width:180px;right:auto ;bottom:5px ;border: 1px solid #e7e7e7;} 
.m-userproperty .s-bar ,.wallet .s-bar {margin:15px 0px 25px;}
.m-userproperty p{height:40px ;line-height: 40px;} 	
.m-userproperty p em{top:9px}
.wallet {position: absolute;left:450px;top: 5px;}  	
.wallet p.m-big{margin-top: 20px;}  
.wallet p.m-big i img {width:54px;height:54px}
.wallet p.m-big .m-title{margin-top:10px ;}


/*订单*/
.m-order .orderContentBox{display:block;position: relative;height:115px;border-top: 1px solid #e7e7e7;margin: 0px 10px;}
.orderContent{width:85%;height:90px ;margin-top:20px ;}
.orderContentpic{width:24% ;height:90px ;padding: 5px;float: left;}
.orderContentpic .imgBox{width: 72px;height: 72px;padding-top:6px ;background:url(../images/imgBox.png);}
.imgBox img {width: 72px;height: 72px;display: block;margin: 0 auto;border: #e4e3e3 1px solid;}
/*订单信息*/
.detailContent{width:40%;float: left;margin-top: 10px;}
.detailContent .delivery {margin-bottom:10px;color: #ff3c3c;border-left: #fd6d37 2px solid;padding-left: 3px;
overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
.orderID {color: #666;margin-bottom: 7px}
.orderID .splitBorder {color: #e7e7e7;margin: 0 4px;}
/*状态、价格*/
.orderContent .state,.orderContent .price{width:18% ;float: left;height:85px;line-height:85px;}
.orderContent .state{color: #fd6d37;font-weight:600;margin-top:5px ;}
.orderContent .price {font-size: 24px;color: #666;}
.price .sym {font-family: "microsoft yahei";font-size: 12px;margin-right: 2px;}
a.btnPay{width:15%;position: absolute;right:10px ;top:37px;height:40px;line-height:40px ;border: 1px solid #fd6d37;color: #fd6d37;text-align: center;}

/*优惠券、积分商城*/
.twoTab{width: 100%;height:227px;}
.twoTabModel .squareTitle {margin-bottom:25px ;}
.countDown {position: absolute;left:20px;top:50px;}
}


@media only screen and (min-width:1260px) 
{
.s-item-wrap {width:25%;}
.s-msg-temp li img {float: left;width:60%;}
.s-row {display: block;margin-left:61%;}
.user-collection .s-item-wrap{width:25%;}
.user-foot .goods{width:25%}
.user-news .s-msg-item {width:25%;}	
.wrap-list {width:100%;}


 /*新品*/
.new-goods{background: #fff;overflow: hidden;margin-top: 15px;}
.new-goods .new-goods-info{padding:20px 20px 18px;width:100% ;border-top:1px solid #E8EEF2;;position: relative; overflow: hidden;}
.new-goods .shop-info .face-img-panel img{width:100%;border-radius:50% ;}
.shop-info .new-goods-num {position: absolute;background-color: #F66;color: #FFF;width: 20px;height: 20px;border-radius: 10px;line-height: 20px;text-align: center;top:25px;right:15px;}
.shop-info .shop-title{margin:0px auto;width:90%;text-align: center;display: block;margin-bottom:5px;}
.new-goods .follow{display:block;width: 58px;line-height: 18px;border: 1px solid #fd6d37;color: #fd6d37;background-color: #FFF;text-align: center;cursor: pointer;margin:0px auto;} 

span.one-hot-goods{position: absolute;bottom:5px;left: 10px;right:10px;height:20px;color: #fd6d37;line-height:20px;text-align: center;background-color: rgba(255, 255, 255, 0.8);}
.new-goods img{width: 100%;}

/*收藏足迹*/
.collection{display: block;margin-right:10px ;}
.twoTab .twoTabModel:hover{border:1px solid  #fd6d37;}


}

/*ie*/
.s-prestige.am-btn.am-round {
    border-radius: 0 0;
    background: none;
    border: none;
    color: #fff;
    padding: 0px;
    font-size: 14px;
}
.m-right {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 20%;
    height: 55px;
    border-left: 1px solid #e8e8e8;
    padding-left: 45px;
}
.m-right a {
    color: #fff;
}
.s-item-wrap {
    width: 25%;
}
.s-item .s-pic .s-pic-link img{width: 232px;height: 232px;}

