@charset "utf-8";
/* CSS Document */
p{margin: 0 ;}
[class*="am-icon-"]:before{
	font-size: 14px;
}
.am-form input[type='password']{font-size: 14px;}
.am-padding{padding:0 20px;}
.am-text-lg{font-size: 18px;}
.am-form input[type="text"]{font-size: 14px; text-align: left;}
.am-radio-inline{line-height: 12px;}
.am-btn{font-size: 14px;}
.am-thumbnails{margin: 0 10px;}