<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.1, maximum-scale=3.0, user-scalable=yes" /> -->
<title>{$title.title}</title>
<meta name="keywords" content="{$title.keyword}">
<meta name="description" content="{$title.miaoshu}">
<link type="text/css" rel="stylesheet" href="http://www.tyyiyuanart.com/public/css/base.css">
<link type="text/css" rel="stylesheet" href="http://www.tyyiyuanart.com/public/css/style.css">
<link href="http://www.tyyiyuanart.com/public/css/banner.css" type="text/css" rel="stylesheet" />
<link href="http://www.tyyiyuanart.com/public/css/xysh.css" type="text/css" rel="stylesheet" />
<script src="http://www.tyyiyuanart.com/public/js/jquery.min.js"></script>
<script src="http://www.tyyiyuanart.com/public/js/jquery.flexslider-min.js"></script>

</head>

<body>
<div class="wrapper"> 
<!-- 头部 s -->
<include file="public/header"/>
 <!--头部 e  -->
<script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});
</script>
<!--banner图 e-->


  
<!--底部 s-->
  
 <div class="footer">
     
     
     <include file="public/footer"/>
     
   </div>
<!--底部 e-->
  
</div>

</div>
</body>
</html>
