<!--_meta 作为公共模版分离出去-->
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>新增图文</title>
<LINK rel="Bookmark" href="__ROOT__/public/css/favicon.ico" >
<LINK rel="Shortcut Icon" href="__ROOT__/public/css/favicon.ico" />
<link rel="stylesheet" type="text/css" href="__ROOT__/public/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/public/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/public/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/public/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ROOT__/public/admin/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" href="__ROOT__/public/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
<article class="page-container">
	<span class="c-red"><b>*所有内容，不可更改</b></span>
	<form class="form form-horizontal" id="form-picture-add" action="" method="post" enctype="multipart/form-data">

		<!-- <if condition="$info['max_type'] eq '困惑'">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">留言类型：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input style="width:500px;" type="text" class="input-text" value="{$info.type}" readonly/>
				</div>
			</div>
		</if> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.name}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">职位：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.zhiwei}" readonly/>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">性别：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.sex}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">年龄：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.age}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.phone}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.email}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.address}" readonly/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">学历：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea style="width:500px;height:200px;" class="input-text" readonly/>{$info.xueli}</textarea>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">个人简历：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea style="width:500px;height:200px;" class="input-text" readonly/>{$info.jianli}</textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">添加时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width:500px;" type="text" class="input-text" value="{$info.dateandtime}" readonly/>
			</div>
		</div>
		
		
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<a href="__APP__/Liuyan/index" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe632;</i> 返回&nbsp;&nbsp;</a>
				
				<!-- <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button> -->
			</div>
		</div>
	</form>
</article>


</body>
</html>